* {
    font-family: sans-serif;
}

.content-container {
    margin: 5vh 20vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}

h1 {
    font-size: 48px;
    margin-top: 0px;
}

.game-mat{
    height: 650px;
    width: 650px;
    padding:10px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex:1 1 auto;
    flex-wrap:wrap;
    box-sizing: border-box;
    border: 1px solid black;
}

.hover {
    background-color: grey;
}

.user-input-container > button {
    margin-bottom: 25px;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: 1px solid black;
}

.user-input-container > button:hover {
    background-color: lightgrey;
}

.user-input-container > button:active {
    background-color: grey;
}